<h4 class="mb-4">Conta</h4>

<div class="card dashboard-card p-4">

    <div class="mb-3">
        <a class="btn btn-outline-secondary w-100 mb-2"
           asp-area="Identity"
           asp-page="/Account/Manage/ChangePassword">
            Alterar Password
        </a>

        <a class="btn btn-outline-secondary w-100 mb-2"
           asp-area="Identity"
           asp-page="/Account/Manage/TwoFactorAuthentication">
            Segurança (2FA)
        </a>
    </div>

</div>